body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
/* --------------------------------------HEADER----------------------------------------------------- */
.page-hader {
    border-bottom: 1px solid #e7e9fc;
}
.header-conteiner {
    display: flex;
    align-items: center;
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
}
.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}
.accent {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
}
.header-logo {
    color: #2E2F42;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;

    padding: 24px 0;
    margin-right: 76px;
}
.header-menu-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-menu-link:hover,
.header-menu-link:focus {
    color: #404bbf
}
.contacts {
    margin-left: auto;
}
.address-list-link {
    display: block;
    padding: 24px 0;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color: #434455;
}
.address-list-link:hover,
.address-list-link:focus {
    color: #404bbf
}
/* ------------------------------------------------HERO---------------------------------------------------------- */

.hero {
    background-color: #2E2F42;
    padding: 188px 0;
}
.hero-title {
    padding-bottom: 48px;
    margin: 0 auto;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.hero-btn {
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    height: 56px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color:#4D5AE5 ;
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}
/* -----------------------------------------------FEATURES----------------------------------------------------- */
.features {
    padding: 120px 0;
}
.features-list {
    display: flex;
    gap: 24px;
}
.features-item {
    width: calc((100% - 72px) / 4);
}
.features-subtitle {
    padding-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.features-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* -------------------------------------------TEAM-------------------------------------------------------------- */
.team {
    background-color: #F4F4FD;
    padding: 120px 0;
}
.team-title {
    max-width: 164px;
    margin: 0 auto 72px;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-item {
    background-color: #ffffff;
    width: calc((100% - 3 * 24px) / 4);
    border-radius: 0 0 4px 4px;
    box-shadow: 
     0 2px 1px 0 rgba(46, 47, 66, 0.08),
     0 1px 1px 0 rgba(46, 47, 66, 0.16), 
     0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-img {

}
.team-subtitle-conteiner {
padding: 32px 16px;
}
.team-subtitle {
padding-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}
.team-text {
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}
/* ---------------------------------------------PORTFOLIO---------------------------------------------------- */
.portfolio {
padding: 120px 0;
}
.portfolio-title {
max-width: 220px;
margin: 0 auto 72px;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
}
.portfolio-list {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;
}
/* .portfolio-item {
width: calc((100% - 5 * 24px) / 6);
} */
.portfolio-img {

}
.portfolio-subtitle-conteiner {
padding: 32px 16px;
border-bottom: 1px solid #e7e9fc;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
}
.portfolio-subtitle {
padding-bottom: 8px;
font-weight: 500;
font-size: 20px;
line-height: 1.20;
letter-spacing: 0.02em;
color: #2E2F42;
}
.portfolio-text {
line-height: 1.5;
letter-spacing: 0.02em;
}

/* ---------------------------------------------FOOTER------------------------------------------------------- */
.footer {
padding: 100px 0;
background-color: #2E2F42
}
.footer-logo {
display: inline-block;
padding-bottom: 16px;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #F4F4FD;
}
.footer-text {
max-width: 264px;
margin: 0 864px 0 0;
line-height: 1.5;
letter-spacing: 0.02em;
color: #F4F4FD;
}